/* ||Footer|| */

/* ||Some in Responsive|| */
footer span {
  white-space: nowrap;
}

.flinks {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  font-size: 0.75rem;
}

.flinks a {
  text-decoration: none;
  color: white;
}
.flinks a:hover {
  color: red;
}

.flinks h3 {
  text-decoration: underline;
  margin-bottom: 10px;
}
