/* ||Header|| */

.header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid white;
  background-color: black;
}

.header input {
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-size: 10px;
  width: fit-content;
  height: 20px;
  color: white;
}

.header input:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.header span {
  white-space: nowrap;
}
